<div id="navigator_container">
  <div class="container">
    <div id="navigator">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="dropdown-trigger" id="taxonomy-item">
          <a href="javascript:void(0);">Taxonomy</a>
          <ul class="dropdown-menu">
            <li><a href="pages/variants/alpha.html">Alpha</a></li>
            <li><a href="pages/variants/beta.html">Beta</a></li>
            <li><a href="pages/variants/delta.html">Delta</a></li>
            <li><a href="pages/variants/omicron-ba2.html">Omicron (BA.2)</a></li>
            <li><a href="pages/variants/omicron-ba45.html">Omicron (BA.4&5)</a></li>
            <li><a href="pages/variants/jn1.html">JN.1</a></li>
            <li><a href="pages/variants/kp2.html">KP.2</a></li>
          </ul>
        </li>
        <li class="dropdown-trigger" id="virus-item">
          <a href="javascript:void(0);">Virus components</a>
          <ul class="dropdown-menu">
            <li><a href="pages/components/rna.html">RNA</a></li>
            <li><a href="pages/components/spike.html">Spike</a></li>
            <li><a href="pages/components/rdrp.html">RdRp</a></li>
          </ul>
        </li>
        <li class="dropdown-trigger" id="evolution-item">
          <a href="pages/evolution.html">Evolution</a>
          <ul class="dropdown-menu">
            <li><a href="pages/evolution/delemus.html">deLemus</a></li>
            <li><a href="pages/evolution/llm-hyena.html">LLM Hyena</a></li>
          </ul>
        </li>
        <li class="dropdown-trigger" id="characteristics-item">
          <a href="pages/characteristics.html">Characteristics</a>
          <ul class="dropdown-menu">
            <li><a href="pages/characteristics/viral-cycle.html">Viral Cycle</a></li>
            <li><a href="pages/characteristics/mutation-rate.html">Mutation Rate</a></li>
            <li><a href="pages/characteristics/probability-of-sequence-density.html">Probability of Sequence Density</a></li>
            <li><a href="pages/characteristics/network.html">Network</a></li>
            <li><a href="pages/characteristics/dynamics-md.html">Dynamics MD</a></li>
            <li><a href="pages/characteristics/rdrp.html">RdRp</a></li>
          </ul>
        </li>
        <li><a href="links.html">Useful links</a></li>
        <li><a href="donation.html">Donations</a></li>
      </ul>
    </div>
  </div>
</div>
