<div id="navigator_container">
  <div class="container">
    <div id="navigator">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="dropdown-trigger" id="taxonomy-item">
          <a href="taxonomy.html">Taxonomy</a>
          <ul class="dropdown-menu">
            <li><a href="pages/variants/alpha.html">Alpha</a></li>
            <li><a href="pages/variants/beta.html">Beta</a></li>
            <li><a href="pages/variants/delta.html">Delta</a></li>
            <li><a href="pages/variants/omicron.html">Omicron</a></li>
          </ul>
        </li>
        <li class="dropdown-trigger" id="virus-item">
          <a href="virus-components.html">Virus components</a>
          <ul class="dropdown-menu">
            <li><a href="pages/components/rna.html">RNA</a></li>
            <li><a href="pages/components/spike.html">Spike</a></li>
            <li><a href="pages/components/rdrp.html">RdRp</a></li>
            <li><a href="pages/components/nucleocapsid.html">Nucleocapsid</a></li>
          </ul>
        </li>
        <li class="dropdown-trigger" id="evolution-item">
          <a href="evolution.html">Evolution</a>
          <ul class="dropdown-menu">
            <li><a href="pages/evolution/delemus.html">deLemus</a></li>
            <li><a href="pages/evolution/llm-hyena.html">LLM Hyena</a></li>
          </ul>
        </li>
        <li class="dropdown-trigger" id="characteristics-item">
          <a href="characteristics.html">Characteristics</a>
          <ul class="dropdown-menu">
            <li><a href="pages/characteristics/mutation-rate.html">Mutation Rate</a></li>
            <li><a href="pages/characteristics/probability-of-sequence-density.html">PSD</a></li>
            <li><a href="pages/characteristics/dynamics-md.html">Open-close dynamics</a></li>
            <li><a href="pages/characteristics/network.html">Landscape and network</a></li>
            <li><a href="pages/characteristics/codon-usage-bias.html">Codon Usage Bias</a></li>
            <li><a href="pages/characteristics/rdrp.html">RdRp</a></li>
          </ul>
        </li>
        <li><a href="pages/data.html">Data</a></li>
        <li><a href="pages/links.html">Useful links</a></li>
        <li><a href="pages/donation.html">Donations</a></li>
      </ul>
    </div>
  </div>
</div>
