<div id="navigator_container">
  <div class="container">
    <div id="navigator">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="dropdown-trigger" id="taxonomy-item">
          <a href="javascript:void(0);">Taxonomy</a>
          <ul class="dropdown-menu">
            <li><a href="alpha.html">Alpha</a></li>
            <li><a href="beta.html">Beta</a></li>
            <li><a href="delta.html">Delta</a></li>
            <li><a href="omicron-ba2.html">Omicron (BA.2)</a></li>
            <li><a href="omicron-ba45.html">Omicron (BA.4&5)</a></li>
            <li><a href="jn1.html">JN.1</a></li>
          </ul>
        </li>
        <li class="dropdown-trigger" id="virus-item">
          <a href="javascript:void(0);">Virus components</a>
          <ul class="dropdown-menu">
            <li><a href="rna.html">RNA</a></li>
            <li><a href="spike.html">Spike</a></li>
            <li><a href="rdrp.html">RDRP</a></li>
          </ul>
        </li>
        <li><a href="evolution.html">Evolution</a></li>
        <li><a href="characteristics.html">Characteristics</a></li>
        <li><a href="links.html">Useful links</a></li>
        <li><a href="donation.html">Donations</a></li>
      </ul>
    </div>
  </div>
</div>
